<div class="container py-5">
  <div class="row g-4">

    @for (product of products; track product.id) {
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card product-card border-0 rounded-4 shadow-sm h-100 z-0">

        <!-- صورة المنتج + زرار القلب -->
        <div class="position-relative">
          <div class="overflow-hidden rounded-top-4">
            <img [src]="product.images[0]" class="card-img-top product-image img-fluid cursor-pointer"
              [alt]="product.name" appElmentScale>
          </div>

          <!-- أيقونة Favorite -->
          <button type="button" class="btn bg-white shadow-sm rounded-circle p-2 position-absolute top-0 end-0 m-3"
            (click)="toggleFavorite(product.id); $event.stopPropagation()" appElmentScale>
            <i class="fa-heart fs-5" [ngClass]="{ 
                  'fa-solid text-danger': isFavorite(product.id), 
                  'fa-regular text-dark': !isFavorite(product.id) 
                }">
            </i>
          </button>
        </div>

        <!-- بيانات المنتج -->
        <div class="card-body p-4 d-flex flex-column">
          <h5 class="card-title mb-3 fw-bold">
            {{ product.name }}
          </h5>
          <p class="card-text text-muted mb-4 flex-grow-1">
            {{ product.description | truncate:80:true }}
          </p>

          <!-- السعر + زرارين منفصلين -->
          <div class="d-flex justify-content-between align-items-center mt-auto">
            <span class="price fw-bold text-danger fs-5">
              ${{ product.price }}
            </span>

            <div class="d-flex gap-2">
              <!-- زرار التفاصيل -->
              <button class="btn btn-outline-secondary px-3 py-2" (click)="goToDetails(product.id)" appElmentScale>
                Details
              </button>

              <!-- زرار الإضافة للكارت -->
              <button class="btn btn-danger px-2 py-2" (click)="addToCart(product)" appElmentScale appButton1Style>
                Add to Cart
              </button>
            </div>

          </div>
        </div>

      </div>
    </div>
    }

  </div>
</div>